@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@theme {
  --color-my-white: hsl(0, 0%, 100%);
  --color-my-black: hsl(0, 0%, 0%);
  --color-my-grey: hsl(0, 0%, 85%);

  --breakpoint-md: 800px;
  --breakpoint-xl: 1440px;
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
}
