@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@theme {
  --color-my-white: hsl(0, 0%, 100%);
  --color-my-black: hsl(0, 0%, 0%);
  --color-my-grey: hsl(0, 0%, 85%);

  --breakpoint-md: 800px;
  --breakpoint-xl: 1440px;
  --font-my-jose: "Josefin Sans", sans-serif;
  --font-my-ala: "Alata", sans-serif;

  --font-mySize: 100;
}

body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
}
